.btn{
    padding: 12px 20px;
    border: 4px solid #FF0000;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.btn:hover{
    border: 4px solid white;
}