@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron:wght@400..900&display=swap');
.header_list{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.header__link{
    font-size: 18px;
    font-family: "Black Ops One", system-ui;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
}

.header__link:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 10px;
    cursor: pointer;
}