.Hero{
    background-image: url("/images/Hero/bgHero.png");
    background-size: cover;
    background-position: center;
    min-height: 620px;

}
.Hero_wellcome{
    padding-top: 150px;
    padding-bottom: 293px;
}
.Hero_title{
    color: white;
    letter-spacing: 2px;
}
.Hero_btn{
    min-width: 216px;
    color: white;
    margin-top: 52px;
    background-color: inherit;
    border: 4px solid red;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 18px 20px;
}