.HeroCatalog{
    background-image: url("/images/Hero/catalog.png");
    background-size: cover;
    background-position: center;
    min-height: 1100px;

}
.HeroCatalog_title{
    font-size: 36px;
    padding-top: 80px;
    margin-top: 0;
    text-decoration: underline;
    text-decoration-color: #C53720;
    text-underline-offset: 15px;
    text-align: center;
    letter-spacing: 3px;
    color: Black;
}
.HeroCatalog_subtitle{
    color: black;
    text-align: center;
    margin-top: 32px;
    font-size: 24px;
    letter-spacing: 1px;
}
.HeroCatalog_category{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.HeroCatalog_card{
    width: 360px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
.HeroCatalog_card img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.HeroCatalog_card__overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.HeroCatalog_card__overlay h3{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px;
}

.HeroCatalog_card__overlay button{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 4px solid rgba(197, 55, 32, 1);
    background-color: transparent;
    color: white;
    padding: 11px 18px;
}

.HeroCatalog_card:hover .HeroCatalog_card__overlay{
    opacity: 1;
}