.productItem{
    width: 300px;
    height: 450px;
    border: 2px solid red;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
}
.productItem:hover{
    box-shadow: 0px 0px 57px -11px rgba(205, 203, 203, 0.43);
    -webkit-box-shadow: 0px 0px 57px -11px rgba(147, 145, 145, 0.43);
    -moz-box-shadow: 0px 0px 57px -11px rgba(194,194,194,0.43);
}

.productItem_img{
    width: 100%;
    margin: 5px auto;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.productItem p{
    color: white;
    font-size: 10px;

}
.productItem h3{
    text-align: center;
    color: white;
    font-size: 15px;
    height: 35px;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.productItem_container{
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;

}
.productItem_container h4{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: rgba(166, 166, 166, 0.68);
}
.productItem_container p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 900;
}

.productItem_btn{
    width: 50%;
    color: white;
    font-weight: 700;
    font-size: 17px;
    border: 2px solid red;
    background-color: transparent;
    padding: 5px 10px;
}
.productItem_btn:hover{
    border: 2px solid white;
}