.header {
    width: 100%;
    height: 100px;
    background: #000;
}

.header_block{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}