.loadMore{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.loadMore_btn{

    padding: 10px 20px;
    border: 2px solid red;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 800;
}