.footer {
    max-height: 342px;
    background-image:
            linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
            url('/images/Footer/Footer1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer__block{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 342px;
    width: 100%;

}
.footer_leftSide{
    margin-top: 48px;
}
.footer_leftSide__logo{}
.footer_leftSide__title{
    color: white;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    margin-top: 48px;
}
.footer_rightSide{
    margin-top: 48px;
}
.contactItem{
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    gap: 5px;
}
.icon{
    color: #FF0000;
    font-weight: 500;
    font-size: 16px;
}
.footer_rightSide__cotactBtn{
    padding: 12px 20px;
    border: 4px solid #FF0000;
    background-color: transparent;
    color: white;
    font-size: 15px;
}