@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron:wght@400..900&display=swap');
h1 h2 h3 h4 h5 p {
    font-size: 16px;
    font-family: "Black Ops One", system-ui;
}
.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 15px;
}
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

