@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.logo{
    width: 132px;
    height: 50px;
    display: flex;
}
.auto{
    width: 25px;
    height: 50px;
}
.redLine{
    display: inline-block;
    background-color: #FF0000;
    width: 6px;
    height: 50px;
}
.text{
    font-size: 22px;
    color: #FF0000;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.pro{
    font-size: 22px;
    color: white;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.auto{
    color: #FF0000;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}